@import "tailwindcss";

@source "../node_modules/flowbite-datepicker";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #0B0F1A;
    --color-navbar: #1C1F2B;
}


@font-face {
	font-family: "Rajdhani-Regular";
	src: local("Rajdhani-Regular"),
	url("./fonts/Rajdhani-Regular.ttf") format("epentype");
		font-weight: normal;
}

.font {
	font-family: "Rajdhani-Regular";
}

* {
	@apply transition-colors duration-200;
}
